.menu {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
    font-weight: 500;

    @media (--desktop) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (--mobile) {
        padding-left: 30px;
    }
}

.mobile-menu {
    position: fixed;
    right: -100%;
    transition: all 300ms ease-in-out;
    background-image: url('../images/desktop/bg-footer.png');
    background-repeat: no-repeat;
    background-position: left 160%;
    width: 85vw;
    height: 100vh;
    padding-top: 35px;
    background-color: #fff;
    z-index: 100;
    display: none;

    @media (--mobile) {
        display: block;
    }
}

.mobile-menu__close {
    border-radius: 2em;
    border: none;
    text-decoration: none;
    color: #fff;
    background-color: transparent;
    position: absolute;
    right: 25px;
}

.logo--mobile {
    color: #8b5631;
    width: 75%;
    margin: 35px auto;
}

.menu--small {
    font-size: 15px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.menu__item {
    margin-right: 30px;

    @media (--desktop) {
        margin-bottom: 15px;
    }

    @media (--mobile) {
        margin-bottom: 15px;

        &:last-child {
             margin-bottom: 0;
         }
    }

    &:last-child {
        margin-right: 0;
    }
}

.menu__item--small {
    margin-right: 20px;
}

.menu__item--no-margin {
    margin-bottom: 0;
}

.menu__link {
    color: #5a402e;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    line-height: 1.3em;
    padding-bottom: 1px;

    &:hover {
        border-bottom: 3px solid #ed8d0e;
        color: #ed8d0e;
    }
}

.menu__link--active {
    border-bottom: 3px solid #ed8d0e;
}

.menu__footer {
    position: absolute;
    bottom: 20px;
    left: 30px;
    display: flex;
}

.mobile-menu__overlay {
position: fixed;
top: 0;
right: -85%;
width: 15%;
height: 100%;
z-index: 99;
}

.mobile-menu__list {
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: 17px;
    font-weight: 500;

    @media (--desktop) {
        display: flex;
        flex-wrap: wrap;
    }

    @media (--mobile) {
        padding-left: 30px;
    }
}

.mobile-menu__item {
    margin-right: 30px;

    @media (--desktop) {
        margin-bottom: 15px;
    }

@media (--mobile) {
    margin-bottom: 15px;

    &:last-child {
         margin-bottom: 0;
     }
}

    &:last-child {
         margin-right: 0;
     }
}

.mobile-menu__link {
    color: #5a402e;
    text-decoration: none;
    border-bottom: 3px solid transparent;
    line-height: 1.3em;
    padding-bottom: 1px;

    &:hover {
         border-bottom: 3px solid #ed8d0e;
         color: #ed8d0e;
     }
}
